.homepage {
    background-image: url("./images/truck4.jpg");
    background-size: cover;
    background-repeat: no-repeat;

   }

header {
    margin: auto;
}

header h1{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    color: crimson;
}

nav {
    margin: auto;
    display:block;
    font-size: 40px;
    color:aliceblue;
    text-align: center;
}

.container-mission {
    margin: auto;
    text-align: center;
    font-size: 38px;
    font-weight: 100;
    font-family: Tahoma, Verdana, sans-serif
    
}


.about {
    background-image: url("./images/aboutme.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    text-align:center;
    background-image: url("./images/aboutme.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.about-img{
    height: 500px;
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: aliceblue;

}

.about-img p {
    color: crimson;
    float: right;
    
    
}